<nav class="navbar navbar-default" style="border: 1px solid whitesmoke">
    <div class="container-fluid" >
      <div class="navbar-header" >
          <a href="#" class="pull-left"><img src="assets/logobyjus.png"></a> 
      </div>
    </div>
</nav>

<div class="container-fluid col-md-10">
    <div class="row">
        <div class="card" style="margin-top: 15px;width: 100% ">
            <div class="card-body" style="margin-left:0%">
                <h4 class="t-24 t-black t-light display-flex justify-center pb4">
                    Search your dream Jobs...
                </h4>
                <form [formGroup]="jobsearchForm">
                    <div class="row">

                        <div class="col form-group">
                            <div class="active-purple-3 active-purple-4 mb-4">
                                <i class="fa fa-search fa-lg icon" aria-hidden="true"></i>
                                <input class="form-control" type="text" placeholder="Search jobs by Skills" formControlName="skills" aria-label="Search" style="padding-left: 40px;width: 300px;">
                            </div>                            
                        </div>

                        <div class="col form-group">
                            <div class="active-purple-3 active-purple-4 mb-4">
                                <i class="fa fa-map-marker fa-lg icon" aria-hidden="true"></i>
                                <input class="form-control" type="text" placeholder="Search location" formControlName="location" aria-label="Search" style="padding-left: 40px; width: 300px;">
                            </div>
                        </div>

                        <div class="col form-group">
                            <div class="active-purple-3 active-purple-4 mb-4">
                                <i class="fa fa-black-tie fa-lg icon" aria-hidden="true"></i>
                                <input class="form-control" type="number" placeholder="Search Experience in Years" formControlName="experience" aria-label="Search" style="padding-left: 40px; width: 300px;">
                                
                            </div>
                        </div>

                        <div class="col">
                            <div class="active-purple-3 active-purple-4 mb-4">
                                <button type="button" class="btn  btn btn-footer pull-right" id="submit" (click)="getJob()">Search</button>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>

        <div class="card" style="margin-top: 1.5rem">
                <div class="card-body">
                    <div class="row">
                        
                            <div class="col-sm-12 col-lg-6 viewcard" *ngFor="let item of filterjob">
                                
                                <div class="card h-100" >
                                    <div class="card-body">
                                        <h5 class="card-title"><h5 class="card-title">{{item.title}}</h5></h5><br>
                                        <div><h6 class="card-subtitle mb-2 text-muted cardicon"><i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;{{item.companyname}}</h6></div>
                                        <p class="loc-sal"><i class="fa fa-map-marker cardicon" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{item.location}}</p>
                                        <p class="loc-sal"><i class="fa fa-money cardicon" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-rupee"></i>&nbsp;{{item.salary}} </p>
                                        <div>
                                            <button class="btn btn-footer" [disabled]="! item.jobValid" type="submit" id="submit" (click)="applyJob(item._id)">Apply</button>
                                            
                                            <div class="create pull-right" *ngIf="item.noOfWeeks==1 && item.jobValid">Posted:&nbsp;{{item.noOfWeeks}} week ago</div>
                                            <div class="create pull-right" *ngIf="item.noOfWeeks>1 && item.noOfDays<30 && item.jobValid">Posted:&nbsp;{{item.noOfWeeks}} weeks ago</div>
                                            <div class="create pull-right" *ngIf="item.noOfMonths==1 && item.jobValid">Posted:&nbsp;{{item.noOfMonths}} Month ago</div>
                                            <div class="create pull-right" *ngIf="item.noOfMonths>1 && item.jobValid">Posted:&nbsp;{{item.noOfMonths}} Months ago</div>
                                            <div class="create pull-right" *ngIf="item.noOfDays==1 && item.jobValid">Posted:&nbsp;{{item.noOfDays}} day ago</div>
                                            <div class="create pull-right" *ngIf="item.noOfDays>1 && item.noOfDays<7 && item.jobValid">Posted:&nbsp;{{item.noOfDays}} days ago</div>
                                            <div class="create pull-right jb-to" *ngIf="item.noOfDays==0 && item.jobValid">Posted:&nbsp;Today </div>
                                            <div class="create pull-right jb-end" *ngIf="! item.jobValid">No longer accepting applications </div>
                                        </div>
                                        
                                    </div>
                                        
                                </div>
                            </div>
                            
                    </div>
                </div>
        </div>
    </div>
          
          
      
    
</div>
